@font-face {
	font-family: "Noto-Serif-Malayalam";
	src: url("fonts/Noto-Serif-Malayalam.ttf.woff") format("woff"),
		url("fonts/Noto-Serif-Malayalam.ttf.svg#Noto-Serif-Malayalam") format("svg"),
		url("fonts/Noto-Serif-Malayalam.ttf.eot"),
		url("fonts/Noto-Serif-Malayalam.ttf.eot?#iefix") format("embedded-opentype");
	font-weight: normal;
	font-style: normal;
}
